body {
    margin: 0px;
    min-width: 500px;
    background-image: url("assets/topography.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', courier, consolas;

}
section {
    padding-left: 10%;
    padding-right: 10%;
}
.separater {
    text-align: center;
}
.navbar {
    background-color: #333333;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar img {
    float: left;
    padding-left: 10%;
}

.navbar .links {
    float: right;
    padding-right: 10%;
}

.navbar a {
    color: #ff0099;
    text-align: center;
    padding: 14px 16px;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 17px;
}
  
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.intro h1 {
    font-size: 60px;
    padding-top: 100px;
}
.intro h2 {
    font-size: 40px;
    color: #ff0099;
}
h4 {
    font-size: 24px;
}
p {
    font-size: 24px;
    word-spacing: 7px;
    line-height: 1.6em;
}
.techwiki h1 {
    text-align: center;
    font-size: 40px;
}
.techwiki{
   font-family: 'Courier New', Courier, monospace; 
}
